extends layout

block content
    h1#maintitle Bii.io
    p Let your friends compose your Twitter bio. For they know best who you are.
    a(class='btn btn-md btn-success') <span class="glyphicon glyphicon-thumbs-up"></span> Activate Bii.io on my Twitter account