extends layout

block content
    p Let your friends compose your boring Twitter bio.</br> They know best who you are.
    a(class='btn btn-md btn-success' href='/auth/twitter') <span class="glyphicon glyphicon-thumbs-up"></span>  Login with Twitter to start
