body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  line-height: 24px;
}

a {
  color: #00B7FF;
}

p {
	margin:20px 0px;
}

.slider {
  display: none;
}

.slider textarea {
  margin-top:10px;
}

#maintitle {
	font-size: 5em;
}
h1, h2, h3, h4, h5, h6, .btn {
	font-family: 'Maven Pro', sans-serif;
}

.center {
	text-align: center;
}